<div class="mx-40 mt-3">
  <div class="flex mb-6">
    <div
      class="h-2 w-1/3 rounded-md mr-3"
      [ngClass]="progress >= 0 ? 'bg-orange-400' : 'bg-gray-200'"
    ></div>
    <div
      class="h-2 w-1/3 rounded-md mx-3"
      [ngClass]="progress >= 1 ? 'bg-orange-400' : 'bg-gray-200'"
    ></div>
    <div
      class="h-2 w-1/3 rounded-md mx-3"
      [ngClass]="progress >= 2 ? 'bg-orange-400' : 'bg-gray-200'"
    ></div>
  </div>
</div>

<app-question-radio
  (updateResultCounter)="updateProgress()"
  (updateCorrectAnswerAmount)="updateCorrectAnswerCounter($event)"
  [question]="questions[0]"
  *ngIf="progress == 0"
></app-question-radio>

<app-question-button
  (updateResultCounter)="updateProgress()"
  (updateCorrectAnswerAmount)="updateCorrectAnswerCounter($event)"
  [question]="questions[1]"
  *ngIf="progress == 1"
></app-question-button>

<app-question-checkbox
  (updateResultCounter)="updateProgress()"
  (updateCorrectAnswerAmount)="updateCorrectAnswerCounter($event)"
  [question]="questions[2]"
  [correctAnswers]="correctAnswers"
  *ngIf="progress >= 2"
></app-question-checkbox>
