<div class="mx-40">
  <img class="w-24 mb-10 mt-3" src="./assets/images/Bild1.jpg" />

  <div class="flex items-center mb-32 spacing">
    <div class="basis-3/5">
      <h2 class="text-3xl mb-2 font-bold">Gin&Co GmbH E-Training</h2>
      <h3 class="text-2xl mb-2 text-aqua">
        Datenschutz & Informationssicherheit
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
        dignissimos ea est, id nostrum perferendis quasi quos soluta temporibus
        voluptatum. Doloremque possimus suscipit ut voluptate. Maiores nam
        nesciunt officia provident!
      </p>
      <div class="flex mt-10">
        <div class="m-auto">
          <a
            routerLink="{{quizLink}}"
            class="hovering bg-orange-400 text-white px-4 py-2 rounded-md hover:bg-orange-500"
          >
            Training starten
          </a>
        </div>
      </div>
    </div>
    <div class="w-80">
      <img class="inline ml-40" src="./assets/images/Bild2.svg" />
    </div>
  </div>

  <div class="flex flex-col justify-content content-center">
    <div
      [ngClass]="showProgress == true ? '' : 'hide'">
      <h2
        class="text-3xl mb-2 font-bold text-center underline decoration-orange-400"
      >
        Dein Fortschritt:
      </h2>
      <h3 class="text-2xl mb-8 text-center font-bold">
        <span class="text-aqua">1/3</span> Quizzes erledigt
      </h3>
      <div class="flex">
        <div class="m-auto">
          <a
            routerLink="/download"
            class="hovering bg-orange-400 text-white px-4 py-2 rounded-md hover:bg-orange-500"
          >
            Zertifikat downloaden
          </a>
        </div>
      </div>
    </div>

    <div class="flex mt-32">
      <div class="m-auto">
        <img class="w-12" src="./assets/images/down-arrow.png" />
      </div>
    </div>

    <h2 class="text-3xl mt-6 mb-2 font-bold text-center text-aqua">HOW TO</h2>
    <div class="flex flex-col mx-40">
      <div class="flex mt-6">
        <div class="flex-none mr-6">1.</div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque
          ea facilis laborum minima sapiente. A atque, aut beatae consectetur
          consequuntur dolor dolore, dolorem fuga iure minus modi quidem tempore
          unde?
        </div>
      </div>
      <div class="flex mt-10">
        <div class="flex-none mr-6">2.</div>
        <div class="flex-auto">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque
          ea facilis laborum minima sapiente. A atque, aut beatae consectetur
          consequuntur dolor dolore, dolorem fuga iure minus modi quidem tempore
          unde?
        </div>
      </div>
      <div class="flex mt-10">
        <div class="flex-none mr-6">3.</div>
        <div class="flex-auto">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque
          ea facilis laborum minima sapiente. A atque, aut beatae consectetur
          consequuntur dolor dolore, dolorem fuga iure minus modi quidem tempore
          unde?
        </div>
      </div>
      <div class="flex mt-10">
        <div class="flex-none mr-6">4.</div>
        <div class="flex-auto">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque
          ea facilis laborum minima sapiente. A atque, aut beatae consectetur
          consequuntur dolor dolore, dolorem fuga iure minus modi quidem tempore
          unde?
        </div>
      </div>
    </div>
    <div class="flex mt-8 mb-14">
      <div class="m-auto">
        <a
          routerLink="{{quizLink}}"
          class="hovering bg-orange-400 text-white px-4 py-2 rounded-md hover:bg-orange-500"
        >
          Training starten
        </a>
      </div>
    </div>
  </div>
</div>
