# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\FH\6. Semester\ELE6_E-Learning Konzepte, Umsetzung und Qualitätssicherung\Webseite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
